body{
    background-color:  rgb(56, 56, 243);
}
#usermain{
    width: 450px;
    height: 15vh;
    text-align: center;
    margin-top: 200px;
    margin-left: 400px;
}

#ft{
border: 3px solid gold;
width: 350px;
height: 25vh;
}
#tex{
    margin-top: 20px;
    border: 2px solid gold;
}
#pass{
    border: 2px solid gold;
}
#btn{
    border: 2px solid gold;
    width: 80px;
    height: 5vh;
}
#header{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-left: 30px;
}
#bd{
    background-color: aliceblue;
}
#logoImg{
    width: 50px;
    height: 10vh;
}
#companyName{
    font-size: 80px;
}
#main{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 40vh;
    margin-top: 100px;
    margin-left: 50px;
}
.box{
    border: 2px solid gold;
     width: 150px;
    height: 40vh;
    text-align: center;
}

#bag1{
    width: 100px;
    height: 15vh;
    margin-top: 15px;
}
#companyName{
    border: 4px solid gold;
    color: rgb(3, 3, 181);
}
#footer{
    margin-top: 20px;
    text-align: center;
    color: blue;
    
}
p{
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}
.price{
    color: blue;
}
#abutBody{
    background-color: aliceblue;
}
#about{
    text-align: center;
}
#services{
    display: flex;
    margin-left: 20px;
    gap: 5px;
}
#footmain{
    margin-left: 300px;
}
#photography{
    border: 2px solid blue;
}
#printing{
    border: 2px solid blue;
}